body {
    /*background-image: url("http://www.sandiegomagazine.com/images/2012/november/asian_food_guide/web_convoy_map.gif");*/
}




.jumbotron {
    text-align: center;
}

#start-button {
    margin: 0 auto !important;
}

.row { background-color: aliceblue;}

.col-md-12, #start-button, #game-result,#question-container {
    text-align: center;
}

#start-button, #restart-button {
    height:50px;
}

#choices-container {
    text-align: center;
    margin-top: 2px;
}

.btn {margin-top: 2px; }